body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../img/sfondo.png);
    background-repeat: repeat;
}
/*header*/
header{
    background-color: rgb(4, 75, 97);
    text-align: center;
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0px 20px white;
    position: top;
    color: white;
    text-shadow: 0 5px 5px #000;
}
/*a*/
.background{
    background-color: rgb(4, 75, 97);
}
a{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    overflow: hidden;
    padding: 30px 70px;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
}
a p{
    color:white;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
a::before{
    position: absolute;
    width: 50%;
    top: 2px;
    left: 2px;
    bottom: 2px;
    content: '';

}
a span:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #044B61, #FFFFFF);
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
a span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, #044B61, #FFFFFF);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }

}
a span:nth-child(3) {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #044B61, #FFFFFF);
    animation: animate3 2s linear infinite;
}
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }

}
a span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #044B61, #FFFFFF);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }

}
