body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../img/sfondo.png);
    background-repeat: repeat;
}
/*header*/
header{
    background-color: rgb(4, 75, 97);
    text-align: center;
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0px 20px white;
    position: top;
    color: white;
    text-shadow: 0 5px 5px #000;
}
